extends layout

block options
    - name = "setup"
    - title = "nwex setup checklist"
    - setupName = "Checklist"

append scripts
    script(src="/script/setup-checklist.bundle.js")

block setup-content
    ol
        //- storage
        li.storage(data-bind="css:{done:hasStorage}")
            header
                h4 Temporary Storage
                h5 Enable temporary application storage
            fieldset
                button(data-bind="click:enableStorage") Enable
            p.
                Enable temporary storage.  Changes will not be saved between
                server restarts.

        //- authentication
        li.auth(data-bind="css:{done:hasAuth}")
            header
                h4 Google OAuth2
                h5 Configure Google OAuth2 authentication provider
            fieldset
                label(for="client-id") Client ID
                input#client-id(type="text", data-bind="text:clientId")
                label(for="client-secret") Client Secret
                input#client-secret(type="text", data-bind="text:clientSecret")
            fieldset
                button(data-bind="click:configureAuth")

        //- administrator
        li.admin(data-bind="css:{done:hasAdmin}")
            header
                h4 Administrator
                h5 Setup administrator account

    footer(data-bind="visible:hasAdmin")
        a(href="/home") Take me to server homepage
