$primary-x-light:   rgb(229,240,217);
$primary-light:     rgb(203,226,180);
$primary:           rgb(160,192,128);
$primary-dark:      rgb(125,161,85);
$primary-x-dark:    rgb(91,129,52);

$complement-x-light:rgb(237,214,222);
$coplementt-light:  rgb(220,175,191);
$complement:        rgb(187,125,147);
$complement-dark:   rgb(157,83,109);
$complement-x-dark: rgb(126,51,77);

$secondary-x-light: rgb(190,211,200);
$secondary-light:   rgb(140,176,158);
$secondary:         rgb(100,150,125);
$secondary-dark:    rgb(66,126,96);
$secondary-x-dark:  rgb(41,101,71);

$tertiary-x-light:  rgb(247,251,227);
$tertiary-light:    rgb(237,244,194);
$tertiary:          rgb(197,207,138);
$tertiary-dark:     rgb(163,174,92);
$tertiary-x-dark:   rgb(128,139,56);

/* http://paletton.com/#uid=62y0u0kaFqK36Ij6Avvf6muj3i0 */

