@import "fonts";
@import "colors";
@import "reset";
@import "metrics";
@import "util";
@import "google";

body, select {
    font: $font-default;
}

button {
    font: $font-strong;
}

input, textarea {
    font: $font-weak;
}

body {
    @include abs(0,0,0,0);
    background-color: $primary;
}

form {
    background-color: $primary-x-light;
    border: $border-thick solid $primary-x-dark;
    border-radius: $rounded-full;
    padding: $gutter-size;

    h3 {
        @include gutter-title();
        background-color: $primary-x-dark;
        color: $primary-x-light;
        padding: $padding-light;
        text-align: center;
    }
}

button {
    background-color: $complement-dark;
    border: $border-regular solid $complement-x-dark;
    border-radius: $rounded-detail;
    color: $complement-x-light;
}

#launcher, #login {
    display: flex;
    justify-content: center;
    align-items: center;
}

#server-host {
    width: 12rem;
}

#server-port {
    width: 4rem;
}

#login {
    .providers {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
