doctype html
html(lang="en")
    head
        title Welcome Home
        script(src="script/home.bundle.js")
        link(rel="stylesheet", type="text/css", href="/style/home.css")
    body#home
        section
            h3 Connected
            p Connected to application server
