doctype html
html(lang="en")
    head
        title Welcome Home
        script(src="script/home.bundle.js")
        link(rel="stylesheet", type="text/css", href="/style/nwex.css")
    body#home
        p Connected to application server
