block declares
    - var name
    - var title

block options
    - name = "nwex"
    - title = "nwex"

doctype html
html(lang="en")
    head
        block title
            title #{title}
        block scripts
            script(src="/script/"+name+".bundle.js")
        block styles
            link(rel="stylesheet", type="text/css", href="/style/"+name+".css")
    body(id=name)
        section
            block content
