doctype html
html(lang="en")
    head
        title Login
        link(rel="stylesheet", type="text/css", href="/style/nwex.css")
    body#login
        section
            h3 Authentication Required
            a.google(href="/auth/google")
